{#<html>#}
{#    <head>#}
{#        <title> Signup</title>#}
{#        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
{#    </head>#}
{#    <body>#}
{#        <form method="post">#}
{#        <div class = "container">#}
{#            <div class = "jumbotron">#}
{#              <h1>SignUp yourself</h1>#}
{#                {{ form.as_p }}#}
{#                 {% csrf_token %}#}
{#                <input type="submit" class="btn btn-primary" value="Register">#}
{##}
{#            </div>#}
{#        </div>#}
{#        </form>#}
{#    </body>#}
{#</html>#}



{#{% extends "main/header.html" %}#}

{% block content %}

{% load crispy_forms_tags %}
{% csrf_token %}

<!--Register-->
<div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>

{% endblock %}